* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

  
body {
    background: rgb(73,50,99);
    background: linear-gradient(0deg, #7ab5e2 100%, rgb(170, 213, 225) 0%);
    background-size: 100% 100%;
    height: 100%;
    width:100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    display: grid;
}


main {
    width: 100%;
    min-height: 100vh;
    display: block;
}

#sun-moon {
    height: 60vw;
    width: 60vw;

    position: absolute;
    top: calc(50% - 25vw);
    left: calc(50% - 25vw);
    
    transition: all ease-out 2s;
}


#sun {
    background-color: rgb(252, 252, 37);
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3vw);
    left: 0;
}

#moon {
    background-color: rgb(42, 42, 42);
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3vw);
    right: 0;
 

}

#mountain {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #000;
    left: 0;
    bottom: 0;
}


#mountain1 {
    position: absolute;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent; 
    border-bottom:20vw solid #000; 
    left: 30%;
    top: -15vw;
}

#mountain2 {
    position: absolute;
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent; 
    border-bottom:15vw solid #000; 
    left: 45%;
    top: -10vw;
}

#mountain3 {
    position: absolute;
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent; 
    border-bottom:15vw solid #000; 
    left: 15%;
    top: -5vw;
}

#mountain4 {
    position: absolute;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent; 
    border-bottom:20vw solid #000; 
    left: 23%;
    top: -12vw;
}

#mountain1::after {
    content: "";
    position: absolute;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent; 
    border-bottom:11vw solid #222; 
    transform: translateX(-42vw);
    top: 5vw;
    z-index: -1;
}
#mountain2::after {
    content: "";
    position: absolute;
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent; 
    border-bottom:10vw solid #222; 
    transform: translateX(2vw);
    z-index: -1;
}
#mountain3::after {
    content: "";
    position: absolute;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent; 
    border-bottom:10vw solid #222; 
    transform: translateX(-36vw);
    z-index: -1;
}
#mountain4::after {
    content: "";
    position: absolute;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent; 
    border-bottom:12vw solid #222; 
    transform: translateX(5vw);
    z-index: -1;
}



#card {
    color: #fff;
    position: relative;
    z-index: 1;
}

#temperature {
    position: absolute;
    font-size: 100px;
    font-weight: 600;
    top: 10vh;
    left: calc(50% - 50px);
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  opacity: 0.7;
    
}

#temperature::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top:10px;
    right: 0;
    border: 2px solid #000;
    border-radius: 50%;
    
}