* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


  
body {
    background: rgb(73,50,99);
    background: linear-gradient(280deg, rgba(73,50,99,1) 0%, rgba(217,160,219,1) 100%) no-repeat;
    background-size: cover;
    font-family: 'Antonio', sans-serif;
    overflow: hidden;
}

#app {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    
}


.card {
    background: linear-gradient(180deg, rgba(73,50,99,1) 0%, rgba(217,160,219,1) 100%) no-repeat;
    color:#fff;
    width: 100vw;
    max-width: 500px;
    height:100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10vw;
}
.top {
    background: #123;
    display: grid;
    place-items: center;
    span {
        font-size: 4rem;
        position: relative;
        &::after {
        content: "";
        position: absolute;
        height:.65rem;
        width:.55rem;
        border: .2rem solid #fff;
        border-radius: 60%;
        top: .7rem; 
        }
    }
    p {
        font-size: 2rem;
    }
}


h1{
    width:100%;
    font-size: 3rem;
    letter-spacing: 1ch;
    text-align: center;
}
.bottom {
 
    ul{
        display: flex;
        list-style: none;
        height:100px;
        li {
            width:calc(100%/3);
            height: 100%;
            position: relative;
            text-align: center;
            
            // &:nth-child(1)::before{
            //     content: "\f72e";
            //     display: block;
            //     font-family: "FontAwesome";
            //     font-weight: 400;
            //     height:50px;
            //     width:50px;
            //     font-size: 3em;
            //     position:absolute;
            //     top:1rem;
            //     left:1rem;
            // }
            // &:nth-child(2)::before{
            //     content: "\f043";
            //     display: block;
            //     font-family: "FontAwesome";
            //     font-weight: 400;
            //     height:50px;
            //     width:50px;
            //     font-size: 3em;
            //     position:absolute;
            //     top:1rem;
            //     left:1rem;
            // }
            // &:nth-child(3)::before{
            //     content: "\f5cd";
            //     display: block;
            //     font-family: "FontAwesome";
            //     font-weight: 400;
            //     height:50px;
            //     width:50px;
            //     font-size: 3em;
            //     position:absolute;
            //     top:1rem;
            //     left:1rem;
            // }

        }
    }
        
}

@media screen and (min-width:500px){
    .card {
        border-radius: .25rem;
        box-shadow: 0 0 1rem rgba(73,50,99,1);
        max-height: 80vh;
    
    }
}

