<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/81bc903854.js" crossorigin="anonymous"></script>
</head>
<body>

    <main id="app">
       
            <div class="card">
                <div class='top'>
                    <span>{{results.main.temp}}</span>
                    <p>{{results.weather[0].description}}</p>
                </div>
                <h1>{{city.city}}</h1>
                <div class="bottom">
                    <h2>
                        <span><i v-if='loading' class="fas fa-cog fa-spin"></i>{{dateDay}}</span><br>
                        <span><i v-if='loading' class="fas fa-cog fa-spin"></i>{{dateDate}}</span>
                        <span><i v-if='loading' class="fas fa-cog fa-spin"></i>{{dateTime }}</span>
                    </h2>
                    <ul>
                        <li>{{ }} KM/H</li>
                        <li>{{ }}%</li>
                        <li>{{  }} mb</li>
                    </ul>
                </div>
            </div>
            <button v-on:click='changeUnit'>{{unit}}</button>
    </main>
    
{{lon}}

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js" async defer></script>

    
</body>
</html>